.image{
    background-color: rgb(192, 247, 242);
   height: 500px;
   width: 100%;
   margin-top: 0px;
   position: relative;

   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-start; 
   text-align: center;
   padding-top: 100px; 
}
.title{
    font-family:cursive;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    }
.birds{
    position: absolute;
    top: 2%;
    left: 60%;
}
.mountain {
    width: 50%;
    height: 70%;  
    position: absolute;
    bottom: 0;
    left: 25%;
    padding-top: 5%;
}
.profile{
 
  float: left;
  height: 150px;
  width: 160px;
  padding-right: 5%;
  padding-top: 5%;
}
.text1{
    font-family:'Times New Roman', Times, serif;
    padding-top: 5%;
    font-size: 30px;
}
.text2{
    font-size: 20px;
}
.text3{
    text-align: center;
    font-size: 40px;
}
.text4{
        display: grid;
        grid-template-columns: 0.5fr 1fr;
        grid-template-rows: 1fr 1fr;
        width: 80%;
        margin: 100px auto 0 auto;
        text-align: center;
        row-gap: 2rem;  
}
.contact{
    width: 30%;
    margin: 40px auto 60px; 
    position: relative;
    text-align: center;
}
.text5{
    padding-bottom: 6%;
}
hr{
height: 3px;
background-color: rgb(224, 93, 215);

}
p{
    font-size: 20px;
}
span{
    font-style: italic;
    text-decoration: 2px underline;
}
button{
    border-radius: 10px;
    height: 50px;
    width: 150px;
    background-color: rgb(93, 224, 213);
    border: none;
    font-size: larger;
}
button:hover{
    background-color: #bfedff;
}
a:hover{
    color: white !important;
}
.text6{
    font-size: 15px;
}
.footer{
    background-color: rgb(93, 224, 202) ;
    height: 150px;
    text-align: center;
}
li{
    display: inline;
    float: center;
    padding-right: 3%;
    padding-top: 80%;
    font-size: 17px;
}
.text6{
    padding-top: 3%;
}


 

